<mat-tab-group>
    <mat-tab label="Tasks">
        <adf-tasklist [appId]="appId" 
            [size]="0" (rowClick)="onTaskRowClick($event)" 
            (success)="onSuccessTaskList($event)"
            (row-click)="onRowClick($event)" 
            (row-dblclick)="onTaskRowDblClick($event)" 
            #taskList>
        </adf-tasklist>
    </mat-tab>
    <mat-tab label="Process">
        <adf-process-instance-list
        #processList
        [appId]="appId"
        (rowClick)="onProcessRowClick($event)"
        (row-dblclick)="onProcessRowDblClick($event)"
        (success)="onSuccessProcessList($event)">
    </adf-process-instance-list>
    </mat-tab>
    <mat-tab label="Report"> Content 3 </mat-tab>
</mat-tab-group>
